html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.color-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Headings and text */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Title section */
#title .container-fluid {
	padding: 3% 15% 7%;
  text-align: left;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Buttons */
.download-button {
  margin: 5% 3%;
}

/* Title Image */
.title-div {
  position: relative;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features section */
#features {
  background-color: #fff;
  position: relative;
}

.features-title {
  font-size: 1.3rem;
}

.features-col {
  padding: 5%;
}

.features-icon {
  font-size: 3.5rem;
  color: #ef8172;
  margin-bottom: 1.5rem;
  transition: color 0.5s;
}

.features-icon:hover {
  color: #ff4c68;
  cursor: pointer;
}

/* Testimonials section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  padding: 0 20px;
}

.testimonial-img {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

#press > img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-card-title {
  font-weight: 500;
}

.pricing-col {
  padding: 3% 2%;
}

.pricing-btn {
  margin-top: 2rem;
}

/* Footer */
.sm-icon {
  margin: 20px 10px;
}

.copyright {
  font-weight: 600;
}

/* Responsiveness */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0);
  }
}