body {
  font-family: "Montserrat", sans-serif;
}

/* Title section */

#title {
	background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
	padding: 3% 15% 7%;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Buttons */
.download-button {
  margin: 5% 3%;
}

/* Title Image */
.title-div {
  position: relative;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.features-col {
  text-align: center;
  padding: 5%;
}

.features-icon {
  font-size: 3.5rem;
  color: #ef8172;
  margin-bottom: 1.5rem;
  transition: color 0.5s;
}

.features-icon:hover {
  color: #ff4c68;
  cursor: pointer;
}

.features-title {
  font-size: 1.2rem;
  font-weight: 800;
}

.features-text {
  color: #8f8f8f;
}

/* Testimonials section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  padding: 0 20px;
}

.testimonial-img {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#press > img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

.pricing-btn {
  margin-top: 2rem;
}

/* Call to Action Section */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

.cta-title {
  font-size: 3.5rem;
  font-weight: 900;
  color: #fff;
  line-height: 1.5;
}

.cta-btn {
  margin: 3rem 1rem 0;
}


/* Footer */
#footer {
  text-align: center;
  padding: 5% 15%;
}

.sm-icon {
  margin: 0 1rem 1.5rem 0.1rem;
}

.copyright {
  font-weight: 600;
  color: #8f8f8f;
}

/* Responsiveness */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0);
  }
}